$max-width:1200px;
$gutter:20px;
$finger-size:40px;
$border-radius:3px;
//
$color-navy:#083887;
$color-blue:#01ACEE;
$color-soft-blue:#F1F6FF;
//
$font-family:'Open Sans',
'Roboto',
Arial,
sans-serif;