.Header {
    border-bottom: 1px solid blue;
    .container {
        position: relative;
        display: flex;
        align-items: center;
        height: 68px;
    }
    &-switch {
        position: relative;
        left: 10px;
        margin-left: auto;
        @include mq("tablet") {
            display: none;
        }
    }
    &-menu {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        padding-right: $gutter;
        padding-left: $gutter;
        padding-bottom: 20px;
        flex-direction: column;
        //align-items: center;
        background: white;
        box-shadow: 0 20px 30px rgba(black, .2);
        .Header.menu-show & {
            display: flex;
            transform: translateY(0);
        }
        @include mq ("tablet") {
            display: flex;
            opacity: 1;
            transform: translateX(0);
            transition: 0ms;
            margin-left: auto;
            flex-direction: row;
            position: static;
            box-shadow: none;
            background: transparent;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
        }
        &-user {
            margin-right: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include mq ("tablet") {
                flex-direction: row;
            }
            a {
                width: 100%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding-left: 20px;
                padding-right: 20px;
                height: $finger-size;
                &:hover {
                    background: rgb(250, 250, 250);
                }
            }
        }
        &-property {
            justify-content: center;
            @include mq ("tablet") {
                margin-top: 0;
                flex-direction: row;
            }
        }
        &-helper {
            display: flex;
            justify-content: center;
            @include mq ("tablet") {
                margin-left: 20px;
                margin-top: 0;
            }
            select {
                appearance: none;
                background: transparent;
                border: 1px solid #E0E6F1;
                padding-left: 10px;
                padding-right: 10px;
                height: $finger-size;
                border-radius: 0;
                color: $color-navy;
                &:nth-child(1) {
                    border-bottom-left-radius: $border-radius;
                    border-top-left-radius: $border-radius;
                }
                &:nth-child(2) {
                    margin-left-white: 0;
                    border-bottom-right-radius: $border-radius;
                    border-top-right-radius: $border-radius;
                }
            }
        }
    }
    &-logo {
        img {
            width: 144px;
        }
    }
}